###### Requirements without Version Specifiers ######
fastapi
seaborn
arabic_reshaper
python-bidi
scikit-learn
python-multipart

###### Requirements with Version Specifiers #######
#docopt == 0.6.1             # Version Matching. Must be version 0.6.1
