###### Requirements without Version Specifiers ######
# another comment same line in maSOUD_BRANCH_MAIN
# this command is added here in masoud_branch_ngram
fastapi

###### Requirements with Version Specifiers ######
#docopt == 0.6.1             # Version Matching. Must be version 0.6.1
